<html>
<title>About Us</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal">
  <h1>About the App</h1>
</div>

<img src="https://image.freepik.com/free-vector/vector-money-flying-with-wings-blue-sky_58032-71.jpg" alt="Money with Wings" style="width:100%">

<div class="w3-container">
  <p>This app uses innovative software to split payments with friends, coworkers, roommates, family, or anyone you can think of.</p>
  <p>The main goal of this application is to prevent arguments over money by allowing our calculator to do the math for you.</p>

</div>

<div class="w3-container w3-teal">
  <p>SmartSplit. New Features Coming Soon!</p>
</div>

</body>
</html>
