<html>
<head>
    <title>CustomSplit</title>
<style>
body {
font-family: Arial, Helvetica, sans-serif;
background-color: AliceBlue;
}
h1 { color: blue;}
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gray;
  box-sizing: border-box;
}
button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
button:hover {
  opacity: 0.7;
  }
}
</style>
</head>
<body>
<h1>Custom split </h1>
<p>Easily split your payments with friends!</p>

<form>

  <div align="left">
  Description:
  <br>
  <input type="text" placeholder="What is the bill regarding">
  <br><br>
  </div>
<div align="left">
  Total Cost:
  <br>
  <input type="text" placeholder="Enter Total Cost">
  <br><br>
  # of People:
  <br>
  <input type="text" placeholder="Enter number of People">
  <br><br>

  <button type="submit">Next</button>
</div>
</form>


</body>
</html>
