<html>
<head>
    <title>Home</title>
</head>
<body>
<h1><div align="center">Welcome to Smartsplit!</div></h1>
<h1><div align="center">Select one of the options below</div></h1>



<div align="center">
  <a href="http://127.0.0.1:5000/register">Sign Up</a>
  <a href="http://127.0.0.1:5000/login">Log In</a>
  <a href="http://127.0.0.1:5000/logout">Log Out</a>
  <a href="http://127.0.0.1:5000/editCredentials">Edit Credentials</a>
  <a href="http://127.0.0.1:5000/evensplit">Even Split</a>
  <a href="http://127.0.0.1:5000/rating">Rate Us</a></div>
  <a href="http://127.0.0.1:5000/survey">Survey</a>



</body>
</html>
