<html>
  <head>
    <title>Login</title>

    <style>
body {
font-family: Arial, Helvetica, sans-serif;
background-color: AliceBlue;
}
h2 { color: blue;}
form {
  width: 50%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

    </style>
  </head>

  <body>

    <h2>Login Page</h2>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    </form>
  </body>
</html>
