<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>

    <body>
        <div align="center">
            <h1>Register</h1>

            <form action="" method="post">
                <p>{{ form.username.label }}: {{ form.username() }}</p>
                <p>{{ form.password.label }}: {{ form.password() }}</p>
                <p>{{ form.confirmPassword.label }}: {{ form.confirmPassword() }}</p>
                <p>{{ form.email.label }}: {{ form.email() }}</p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>

    </body>
</html>
